.form__container {
  background: $blue;
  display: flex;
  justify-content: space-between;
  padding-top: 96px;
  max-width: 1400px;
  margin: 0 auto;
}

.form {
  background: #00b2ff;
}

.form__title {
  margin-left: -261px;
  margin-top: -4px;
}

.form__content {
  width: 570px;
  margin-left: -220px;
}

.form__block {
  width: 40%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  &::before {
    content: "";
    position: absolute;
    width: 300px;
    transform: rotate(60deg);
    right: -338px;
    top: 209px;
    height: 300px;
    background: url("../img/back-polygon.svg");
    background-repeat: no-repeat;
    opacity: 0.2;
  }

  &::after {
    content: "";
    position: absolute;
    width: 300px;
    transform: rotate(-5deg);
    right: -338px;
    top: -35px;
    height: 300px;
    background: url("../img/polygon-mini-form.svg");
    background-repeat: no-repeat;
  }
}

.form__input-block {
  display: flex;
  margin-top: 49px;
  width: 100%;

  &::before {
    content: "";
    position: absolute;
    width: 50px;
    height: 50px;
    background-image: url("../img/back-polygon.svg");
    z-index: 200;
  }
}

.form__check-block {
  display: flex;
  align-content: baseline;
  justify-content: center;
  align-items: center;
  margin-top: 3px;
  width: 47%;
  cursor: pointer;
}

.form__info {
  font-family: "PtMono", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  z-index: 500;
  margin-top: 9px;
  margin-left: -478px;
}


.form__input {
  font-family: "PtMono", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  background: deepskyblue;
  border: none;
  height: 50px;
  margin-bottom: 37px;
  color: #ffffff;
  width: 100%;
  padding-left: 20px;

  &--right {
    margin-right: 34px;
  }

  &:invalid {
    box-shadow: none;
  }

  &::placeholder {
    font-family: "PtMono", "Arial", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    transform: translateY(-10px) translateY(50%);
  }
}

input:invalid::-moz-focus-inner {
  border: 0;
}

.form__textarea {
  font-family: "PtMono", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  background: deepskyblue;
  border: none;
  width: 547px;
  height: 141px;
  color: #ffffff;
  padding-left: 20px;
  padding-top: 15px;
  overflow: hidden;
  resize: none;

  &::placeholder {
    font-family: "PtMono", "Arial", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    transform: translateY(-11px) translateY(50%);
  }
}

.form__submit {
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  width: 270px;
  color: #ffffff;
  border: 2px solid #ffffff;
  background: $blue;
  padding-top: 14px;
  padding-bottom: 13px;
  padding-right: 14px;
  border-radius: 5px;
  cursor: pointer;
}

.form__submit-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: baseline;
  margin-top: 22px;
  padding-bottom: 97px;
}

.form__checkbox-text {
  width: 263px;
  font-family: "PtMono", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
}

.form__checkbox {
  margin-right: 20px;
  border: 1px solid #ffffff;
  background: $blue;
  display: none;
}

.form__label {
  font-weight: normal;
  line-height: 30px;
  padding: 10px 0;
  margin-bottom: 20px;
  vertical-align: middle;
  padding-top: 15px;
  cursor: pointer;
}

.form__label::before {
  content: "";
  display: inline-block;
  margin-right: 15px;
  position: relative;
  text-align: center;
  width: 16px;
  height: 16px;
  border: 1px solid #e3e3e3;
  border-image: initial;
  vertical-align: middle;
}

.form__checkbox:checked + .form__label::before {
  content: "";
  height: 16px;
  width: 16px;
  background-image: url("../img/check.svg");
  background-repeat: no-repeat;
  background-size: 8px 5px;
  background-position: center;
}

.form__img {
  margin-top: 64px;
  margin-right: 236px;
  z-index: 100;
}

.form__img-block {
  position: relative;
  width: 60%;
  display: flex;
  justify-content: flex-end;

  &::before {
    content: "";
    position: absolute;
    width: 689px;
    top: -153px;
    height: 650px;
    left: -76px;
    background-image: url("../img/Group 18.svg");
  }
}

@media (max-width: $tablet-width) {
  .form__img {
    display: none;
  }

  .form__container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .form__block {
    margin-right: 0;
    width: auto;
    align-items: flex-start;
  }

  .form__title {
    margin-top: -16px;
    margin-left: -19px;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 140.62%;
  }

  .form__info {
    margin-top: 16px;
    margin-left: -16px;
  }

  .form__content {
    margin-left: -15px;
  }

  .form__input {
    width: 255px;
    margin-bottom: 42px;
  }

  .form__textarea {
    width: 568px;
    height: 144px;
    padding-left: 16px;
    padding-top: 11px;
  }

  .form__submit-block {
    margin-top: 30px;
    padding-bottom: 87px;
  }

  .form__input-block {
    margin-top: 53px;
    width: 592px;
  }

  .form__submit {
    width: 279px;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    padding-top: 14px;
    margin-left: 1px;
    padding-bottom: 15px;
    border-radius: 5px;
  }

  .form__img-block {
    position: relative;

    &::before {
      display: none;
    }
  }

  .form__check-block {
    width: 44%;
  }
}

input::placeholder {
  margin-left: -5px;
}

label {
  padding-top: 14px;
}

@media (max-width: $mobile-width) {
  .form__input-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 23px;
  }

  .form__textarea {
    width: 270px;
    height: 89px;
  }

  .form__submit-block {
    flex-direction: column;
    padding-bottom: 22px;
    margin-top: 18px;
  }

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .form__input {
    margin: 0 0 16px;
    width: 274px;
  }

  .form__submit {
    width: 288px;
    margin: 0;
  }

  .form__check-block {
    display: flex;
    align-content: baseline;
    justify-content: center;
    align-items: center;
    margin-left: 5px;
    margin-top: 7px;
    width: auto;
  }

  .form__title {
    width: 310px;
    font-size: 28px;
    line-height: 140.62%;
    margin-top: -13px;
    margin-left: 142px;
  }

  .form__info {
    width: 238px;
    margin-top: 12px;
    margin-left: 141px;
    margin-right: 0;
  }

  .from__block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .form__container {
    padding-top: 42px;
  }

  .form__content {
    margin-left: 0;
  }
}
