.footer__office-list {
  list-style: none;
  padding-left: 0;
  margin-top: 24px;
}

.footer__office-title {
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 16px;

  display: flex;
  align-items: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  pointer-events: none;
  color: #1b2d37;
}

.footer__office-link {
  font-family: "PtMono", "Arial", sans-serif;
  font-size: 15px;
  line-height: 25px;
  color: #1b2d37;
}

.footer__office {
  margin-top: 65px;
  position: relative;
  //left: 148px;
}


@media (max-width: $mobile-width) {
  .footer__office-list {
    display: none;
    padding-left: 15px;
    margin-top: 31px;
    width: 200px;
    margin-bottom: -6px;
  }

  .footer__office {
    margin-top: 0;
    left: 1px;
  }

  .footer__office-title {
    padding-top: 30px;
    border-top: 1px solid #626962;
    margin-bottom: 0;
    position: relative;
    padding-left: 15px;
    pointer-events: auto;
    margin-top: 9px;

    &::before {
      content: "";
      width: 16px;
      height: 1px;
      background-color: #c4c4c4;
      position: absolute;
      top: 35px;
      right: 0;
      transition: all 0.3s ease 0s;
    }

    &::after {
      content: "";
      width: 16px;
      height: 1px;
      background-color: #c4c4c4;
      position: absolute;
      transform: rotate(90deg);
      top: 35px;
      right: 0;
      transition: all 0.3s ease 0s;
    }
  }

  .footer__office-title.active::after {
    transform: rotate(0deg);
  }
}
