.footer__title {
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 29px;
  color: #203c42;
  position: relative;
  left: -6px;
  top: 5px;
}

.footer__title-info {
  font-family: "Roboto", "Arial", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;

  color: #788891;
  margin-top: 8px;
  margin-left: -4px;
}

.footer__social-list {
  list-style: none;
  display: flex;
  position: relative;
  left: -47px;
  top: 34px;
}

.footer__social-logo {
  display: flex;
  cursor: pointer;
}

.footer__container {
  display: flex;
  justify-content: space-around;
  margin-bottom: 42px;
}

.footer__social {
  margin-top: 67px;
  margin-left: 155px;
  margin-right: 0;
}

.footer__social-item {
  margin-right: 16px;
}

.footer__title-block {
  margin-left: 16px;
}

.footer__social-disabled-item {
  display: none;
}

.footer__link-block {
  display: flex;
  justify-content: space-between;
  margin-right: 280px;
  margin-top: -17px;
}

@media (max-width: $tablet-width) {
  .footer__social {
    display: flex;
    justify-content: space-around;
    align-content: baseline;
    align-items: center;
    width: 100%;
    margin-left: -28px;
    margin-top: 18px;
    border-bottom: 1px solid #666666;
    padding-bottom: 5px;
  }

  .footer__social-logo {
    margin-left: 9px;
    margin-top: -19px;
  }

  .footer__container {
    flex-direction: column;
    align-items: center;
    margin-bottom: 0;
  }

  .footer__link-block {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-left: 25px;
    margin-bottom: 33px;
    margin-right: 165px;
  }

  .footer__social-disabled-item {
    display: inline-block;
    font-family: "PtMono", "Arial", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 24px;
    position: relative;
    left: 68px;
    top: -6px;
    align-items: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    margin-top: 0;
    margin-left: -38px;

    color: #1b2d37;
  }

  .footer__social-list {
    top: -8px;
    left: 38px;
  }

  .footer__title {
    left: 0;
  }

  .footer__title-info {
    margin-left: 4px;
    margin-top: 6px;
  }
}

@media (max-width: $mobile-width) {
  .footer__social {
    display: flex;
    flex-direction: column;
    margin: 66px 0 0;
    border-bottom: none;
    padding-bottom: 43px;
  }

  .footer__link-block {
    flex-direction: column;
    margin-left: 0;
    margin-right: 0;
  }

  .footer__title-block {
    margin-left: 9px;
  }

  .footer__social-disabled-item {
    margin-top: 30px;
    margin-left: 0;
    left: 0;
  }

  .footer__social-list {
    left: -12px;
    top: 7px;
  }

  .footer__social-logo {
    margin-left: -4px;
  }

  .footer__title-info {
    margin-top: 7px;
    margin-left: 6px;
  }

  .footer__title {
    left: 7px;
  }
}
