.footer__bottom-block {
  display: flex;
  border-top: 1px solid #626962;
  justify-content: space-between;
}

.footer__bottom-list {
  list-style: none;
  justify-content: space-around;
  display: flex;
  padding-left: 0;
  width: 100%;
  padding-top: 13px;
  padding-bottom: 15px;
  margin-right: 64px;
}

.footer__item-info {
  font-family: "PtMono", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 24px;
  align-items: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;

  color: #1b2d37;

  opacity: 0.5;

  &--margin {
    margin-right: 40px;
  }
}

.footer__block-info {
  display: flex;
  justify-content: space-around;
  width: 910px;
  margin-left: 31px;
}

@media (max-width: $tablet-width) {
  .footer__item-info {
    margin-right: 10px;
    margin-left: -3px;

    &--disabled {
      display: none;
    }
  }

  .footer__bottom-list {
    padding-left: 0;
    justify-content: space-between;
    padding-top: 23px;
    align-items: center;
    margin-right: 0;
  }

  .footer__block-info {
    width: auto;
  }
}

@media (max-width: $mobile-width) {
  .footer__bottom-list {
    flex-direction: column;
    padding-top: 26px;
  }

  .footer__item-info {
    &--mobail {
      margin-top: 21px;
      margin-left: 29px;
    }
  }
}
