.footer__site-list {
  list-style: none;
  padding-left: 0;
  width: 250px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  height: 124px;
  margin: 0 auto;
  margin-bottom: 9px;
  margin-left: 1px;
  margin-top: 21px;
}

.footer__site-text {
  font-family: "PtMono", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 25px;
  color: #1b2d37;
}


.footer__site-title {
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 16px;
  align-items: center;
  text-transform: uppercase;
  color: #1b2d37;
  cursor: pointer;
  display: flex;
  margin-bottom: -13px;
  margin-top: 21px;
}

.footer__site-item {
  margin-right: 74px;
  width: 234px;
  margin-top: 4px;
}

.footer__site {
  margin-top: 57px;
  margin-right: 133px;
}


@media (max-width: $tablet-width) {
  .footer__site-list {
    height: auto;
    margin-left: -9px;
    margin-top: -8px;
  }

  .footer__site-title {
    margin-bottom: 17px;
    margin-left: -14px;
    margin-top: -10px;
  }

  .footer__site {
    margin-right: 0;
    margin-top: 56px;
    margin-left: 12px;
  }

  .footer__site-item {
    margin-right: 0;
    margin-bottom: -3px;
  }
}

@media (max-width: $mobile-width) {
  .footer__site-list {
    display: none;
    margin-left: 0;
    padding-left: 15px;
    padding-bottom: 20px;
  }

  .footer__site {
    margin-right: 0;
    margin-top: 20px;
    margin-left: 0;
    padding-bottom: 20px;
  }

  .footer__site-title {
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 16px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    margin-right: 0;
    border-top: 1px solid #626962;
    padding-top: 30px;
    position: relative;
    padding-left: 30px;
    cursor: pointer;
    pointer-events: auto;
    margin-bottom: 0;

    &::before {
      content: "";
      width: 16px;
      height: 1px;
      background-color: #c4c4c4;
      position: absolute;
      top: 37px;
      right: 18px;
      transition: all 0.3s ease 0s;
    }

    &::after {
      content: "";
      width: 16px;
      height: 1px;
      background-color: #c4c4c4;
      position: absolute;
      transform: rotate(90deg);
      top: 37px;
      right: 18px;
      transition: all 0.3s ease 0s;
    }
  }

  .footer__site-title.active::after {
    transform: rotate(0deg);
  }
}
