.footer__office-list {
  list-style: none;
  padding-left: 0;
  margin-top: 15px;
}

.footer__office-title {
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 16px;
  margin-left: -10px;
  margin-top: 18px;
  display: flex;
  align-items: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  pointer-events: none;
  color: #1b2d37;
}

.footer__office-link {
  font-family: "PtMono", "Arial", sans-serif;
  font-size: 15px;
  line-height: 25px;
  color: #1b2d37;
}

.footer__office {
  position: relative;
  margin-top: 59px;
  width: 333px;
  margin-left: 48px;
}

@media (max-width: $tablet-width) {
  .footer__office {
    position: relative;
    top: -28px;
    left: 126px;
  }

  .footer__office-list {
    margin-top: 11px;
  }

  .footer__office-title {
    margin-left: -8px;
  }
}


@media (max-width: $mobile-width) {
  .footer__office-list {
    display: none;
    padding-left: 16px;
    margin-top: 75px;
    width: 200px;
    margin-bottom: -34px;
  }

  .footer__office {
    margin-top: 0;
    left: 1px;
  }

  .footer__office-title {
    padding-top: 30px;
    border-top: 1px solid #626962;
    position: relative;
    padding-left: 21px;
    pointer-events: auto;
    margin-top: -14px;
    padding-bottom: 15px;
    top: 35px;
    margin-bottom: -19px;

    &::before {
      content: "";
      width: 16px;
      height: 1px;
      background-color: #c4c4c4;
      position: absolute;
      top: 35px;
      right: 18px;
      transition: all 0.3s ease 0s;
    }

    &::after {
      content: "";
      width: 16px;
      height: 1px;
      background-color: #c4c4c4;
      position: absolute;
      transform: rotate(90deg);
      top: 35px;
      right: 18px;
      transition: all 0.3s ease 0s;
    }
  }

  .footer__office-title.active::after {
    transform: rotate(0deg);
  }
}
