.tabs__list {
  display: flex;
  list-style: none;
  justify-content: flex-start;
  padding: 0;
  width: 100%;
  max-width: 1180px;
  flex-wrap: wrap;
  height: 650px;
}

.tabs__container {
  background: #1b2d37;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 141px;
}

.tabs__item {
  position: relative;
  margin-top: 61px;
  width: 33.3333%;
}

.tabs__item-title {
  font-family: "Roboto Condensed", "Arial", sans-serif;
  position: relative;
  top: -573px;
  left: 55px;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  color: #ffffff;
  z-index: 100;
  width: 225px;

  &--two {
    left: 60px;
  }

  &--tree {
    left: 73px;
  }
}

.tabs__title {
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 51px;
  color: #ffffff;
  z-index: 200;
  margin-right: 337px;
  padding-top: 86px;
  margin-bottom: -24px;

}

.tabs__img-block {
  max-width: 370px;
  height: 620px;
  position: relative;
  margin-left: 10px;

  &--first-tab {
    background: url("../img/tab1-desktop-opacity.png");
    background-repeat: no-repeat;
  }

  &--two-tab {
    background: url("../img/tab2-desktop-opavity.png");
    background-repeat: no-repeat;
  }

  &--tree-tab {
    background: url("../img/tab-desktop-test.png");
    background-repeat: no-repeat;
  }

  &--center {
    margin-left: 22px;
  }

  &--last {
    margin-left: 24px;
    margin-right: 0;
  }
}

.tabs__block-before {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    width: 63px;
    height: 63px;
    right: 1px;
    bottom: -619px;
    z-index: 301;
    background: $blue;
    cursor: pointer;
  }

  //&--last::before {
  //  right: -9px;
  //}
}

.tabs__block-marker {
  position: relative;
  z-index: 620;

  &::before {
    content: "";
    position: absolute;
    width: 8px;
    height: 1px;
    transform: rotate(-45deg);
    background: #ffffff;
    right: 27px;
    bottom: -591px;
    z-index: 350;
  }

  &::after {
    content: "";
    position: absolute;
    width: 8px;
    height: 1px;
    right: 27px;
    transform: rotate(45deg);
    background: #ffffff;
    bottom: -586px;
    z-index: 350;
  }

  //&--last::before {
  //  right: 20px;
  //}
  //
  //&--last::after {
  //  right: 20px;
  //}
}

@media (max-width: $tablet-width) {
  .tabs__list {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin-top: -19px;
    margin-left: 0;
    flex-wrap: nowrap;
    height: auto;
    align-items: center;
  }

  .tabs__item-link {
    width: 100%;
    height: 256px;
  }

  .tabs__img-block {
    width: 715px;
    height: 256px;
    position: relative;
    max-width: 715px;

    &--first-tab {
      background: url("../img/tab1-tablet-opacity.png");
      margin-left: -2px;
    }

    &--two-tab {
      background: url("../img/tab2-tablet-opacity.png");
      margin-left: -2px;
    }

    &--tree-tab {
      background: url("../img/tab3-tablet-opacity.png");
      margin-left: -2px;
    }

    &--last {
      margin-left: 0;
    }
  }

  .tabs__item {
    width: auto;
    margin: 0 0 -14px;

    &::before {
      bottom: -2px;
    }
  }

  .tabs__title {
    width: 630px;
    padding-top: 44px;
    margin: 0 0 63px -88px;
    font-size: 32px;
  }

  .tabs__item-title {
    top: -220px;
    left: 44px;

    &--tablet {
      top: -208px;
      left: 42px;
    }
  }

  .tabs__container {
    padding-bottom: 15px;
  }

  .tabs__block-before {
    position: relative;
    z-index: 600;

    &::before {
      right: 0;
      bottom: -256px;
    }
  }

  .tabs__block-marker {
    &::before {
      right: 23px;
      bottom: -228px;
    }

    &::after {
      right: 23px;
      bottom: -224px;
    }
  }
}

@media (max-width: $mobile-width) {
  .tabs__title {
    width: 280px;
    font-size: 28px;
    padding-top: 50px;
    line-height: 140.62%;
    margin-left: 7px;
    margin-bottom: 59px;
  }

  .tabs__item-title {
    top: -235px;
    left: 36px;

    &--tablet {
      top: -225px;
    }
  }

  .tabs__item {
    margin: 0 0 -30px;
  }

  .tabs__img {
    width: 290px;
    height: 256px;
  }

  .tabs__container {
    padding-bottom: 19px;
  }

  .tabs__img-block {
    width: 290px;
    height: 256px;
    position: relative;
    margin-left: 1px;

    &--first-tab {
      background: url("../img/tab1-mobail-opacity.png");
      margin-left: 1px;
    }

    &--two-tab {
      background: url("../img/tab2-mobail-opacity.png");
      margin-left: 1px;
    }

    &--tree-tab {
      background: url("../img/tab3-mobail-opacity.png");
      margin-left: 1px;
    }
  }

  .tabs__block-marker {
    &::after {
      right: 27px;
    }

    &::before {
      right: 27px;
    }
  }
}
