.tabs__list {
  display: flex;
  list-style: none;
  justify-content: center;
  padding-bottom: 100px;
  padding: 0;
  margin-left: -7px;
}

.tabs__container {
  background: #1b2d37;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 106px;
}

.tabs__item {
  margin-left: 30px;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    width: 63px;
    height: 63px;
    bottom: 3px;
    right: 0;
    background: $blue;
    z-index: 300;
  }
}

.tabs__item-title {
  font-family: "Roboto Condensed", "Arial", sans-serif;
  width: 152px;
  position: relative;
  top: 108px;
  left: 44px;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  color: #ffffff;
}

.tabs__title {
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 51px;
  color: #ffffff;
  z-index: 200;
  margin-right: 337px;
  padding-top: 86px;
  margin-bottom: -24px;

}

.tabs__img {
  z-index: 199;
  opacity: 0.2;
}

.tabs__item-link {
  &::before {
    content: "";
    position: absolute;
    width: 8px;
    height: 1px;
    right: 25px;
    transform: rotate(-45deg);
    background: #ffffff;
    bottom: 29px;
    z-index: 300;
  }

  &::after {
    content: "";
    position: absolute;
    width: 8px;
    height: 1px;
    right: 25px;
    transform: rotate(45deg);
    background: #ffffff;
    bottom: 35px;
    z-index: 300;
  }
}

@media (max-width: $tablet-width) {
  .tabs__list {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin-top: -19px;
    margin-left: 13px;
  }

  .tabs__item {
    margin: 0 0 -19px;
  }

  .tabs__title {
    width: 630px;
    padding-top: 44px;
    margin: 0 0 0 -73px;
    font-size: 32px;
  }

  .tabs__item-title {
    top: 102px;

    &--tablet {
      top: 114px;
      left: 47px;
    }
  }

  .tabs__container {
    padding-bottom: 80px;
  }
}

@media (max-width: $mobile-width) {
  .tabs__title {
    width: 280px;
    font-size: 28px;
    padding-top: 49px;
    line-height: 140.62%;
    margin-left: 22px;
    margin-bottom: 0;
  }

  .tabs__item-title {
    top: 81px;
    left: 37px;

    &--tablet {
      top: 89px;
    }
  }

  .tabs__item {
    margin: 0 0 -33px;
  }

  .tabs__img {
    width: 100%;
  }

  .tabs__container {
    padding-bottom: 76px;
  }
}
