.tabs__list {
  display: flex;
  list-style: none;
  justify-content: flex-start;
  padding: 0;
  margin-left: -7px;
  width: 100%;
  max-width: 1200px;
  flex-wrap: wrap;
}

.tabs__container {
  background: #1b2d37;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 112px;
}

.tabs__item {
  width: 370px;
  margin-left: 30px;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    width: 63px;
    height: 63px;
    bottom: 3px;
    right: 0;
    background: $blue;
    z-index: 300;
    cursor: pointer;
  }
}

.tabs__item-title {
  font-family: "Roboto Condensed", "Arial", sans-serif;
  position: relative;
  top: 111px;
  left: 40px;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  color: #ffffff;
  z-index: 100;
  width: 225px;
}

.tabs__title {
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 51px;
  color: #ffffff;
  z-index: 200;
  margin-right: 337px;
  padding-top: 86px;
  margin-bottom: -24px;

}

.tabs__img-block {
  width: 370px;
  height: 620px;
  position: relative;
  opacity: 0.2;

  &--first-tab {
    background: url("../img/tabs1-desktop.png");
  }

  &--two-tab {
    background: url("../img/tabs2-desktop.png");
  }

  &--tree-tab {
    background: url("../img/tabs3-desktop.png");
  }
}

.tabs__item-link {
  &::before {
    content: "";
    position: absolute;
    width: 8px;
    height: 1px;
    right: 25px;
    transform: rotate(-45deg);
    background: #ffffff;
    bottom: 29px;
    z-index: 300;
  }

  &::after {
    content: "";
    position: absolute;
    width: 8px;
    height: 1px;
    right: 25px;
    transform: rotate(45deg);
    background: #ffffff;
    bottom: 35px;
    z-index: 300;
  }
}

@media (max-width: $tablet-width) {
  .tabs__list {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin-top: -19px;
    margin-left: 0;
  }

  .tabs__item-link {
    width: 100%;
    height: 256px;
  }

  .tabs__img-block {
    width: 715px;
    height: 256px;
    position: relative;
    opacity: 0.2;

    &--first-tab {
      background: url("../img/tab1-tablet.png");
    }

    &--two-tab {
      background: url("../img/tab2-tablet.png");
    }

    &--tree-tab {
      background: url("../img/tab3-tablet.png");
    }
  }

  .tabs__item {
    //width: 715px;
    //height: 256px;
    margin: 0 0 -14px;

    &::before {
      bottom: -2px;
    }
  }

  //.tabs__img-block {
  //  width: 715px;
  //  height: 256px;
  //}


  //.tabs__img {
  //  width: 715px;
  //  height: 256px;
  //}

  .tabs__title {
    width: 630px;
    padding-top: 44px;
    margin: 0 0 0 -89px;
    font-size: 32px;
  }

  .tabs__item-title {
    top: 102px;

    &--tablet {
      top: 114px;
      left: 47px;
    }
  }

  .tabs__container {
    padding-bottom: 80px;
  }
}

@media (max-width: $mobile-width) {
  .tabs__title {
    width: 280px;
    font-size: 28px;
    padding-top: 49px;
    line-height: 140.62%;
    margin-left: 14px;
    margin-bottom: 0;
  }

  .tabs__item-title {
    top: 81px;
    left: 37px;

    &--tablet {
      top: 89px;
    }
  }

  .tabs__item {
    margin: 0 0 -30px;
  }

  .tabs__img {
    width: 290px;
    height: 256px;
  }

  .tabs__container {
    padding-bottom: 80px;
  }

  .tabs__img-block {
    width: 290px;
    height: 256px;
    position: relative;
    opacity: 0.2;

    &--first-tab {
      background: url("../img/tab1-mobail.png");
    }

    &--two-tab {
      background: url("../img/tab2-mobail.png");
    }

    &--tree-tab {
      background: url("../img/tab3-mobail.png");
    }
  }

}
