@font-face {
  font-family: "PtMono";
  src: url("../fonts/PTMono-Regular.woff2") format("woff2"),
    url("../fonts/PTMono-Regular.woff") format("woff");
  font-display: swap;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Roboto Condensed";
  src: url("../fonts/Roboto-Condensed.woff2") format("woff2"),
    url("../fonts/Roboto-Condensed.woff") format("woff");
  font-display: swap;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Roboto Condensed";
  src: url("../fonts/RobotoCondensed-Bold.woff2") format("woff2"),
    url("../fonts/RobotoCondensed-Bold.woff") format("woff");
  font-display: swap;
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Roboto Condensed";
  src: url("../fonts/RobotoCondensed-Light.woff2") format("woff2"),
    url("../fonts/RobotoCondensed-Light.woff") format("woff");
  font-display: swap;
  font-weight: 300;
  font-style: normal;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  background: white;
  color: black;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body.hidden {
  height: 100%;
  width: 100%;
  position: fixed;
  overflow: hidden;
}

h1 {
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 80px;
  line-height: 94px;
  margin: 0;
  color: #ffffff;
  letter-spacing: 0.07em;
  text-transform: uppercase;
}

h2 {
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  margin: 0;
  font-size: 36px;
  line-height: 51px;
  color: #ffffff;
}

a {
  font-family: "PtMono", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  text-transform: none;
  text-decoration: none;
  list-style: none;
  color: #ffffff;
  outline: none;

  &:hover {
    color: $blue;
  }
}

p {
  margin: 0;
  color: #ffffff;
}

button {
  outline: none;

  &:hover {
    color: black;
  }
}

input[type="text"] {
  color: #ffffff;
}

input[type="text"]::placeholder {
  color: #ffffff;
}

textarea[name="comment"]::placeholder {
  color: #ffffff;
}

textarea[name="text"]::placeholder {
  color: #ffffff;
}

span {
  margin: 0;
}

.footer__block-title {
  cursor: pointer;
  padding: 10px;
}

header {
  position: relative;
  background-image: url("../img/head-desktop.jpg");
  background-repeat: no-repeat;
  background-position: center;
  padding-bottom: 39px;
}

@media (max-width: $tablet-width) {
  header {
    display: flex;
    flex-direction: column;
    background-image: url("../img/backheader-tablet.png");
    background-repeat: no-repeat;
    background-position: bottom;
    background-position-x: 2px;
    background-position-y: 1px;
    padding-bottom: 186px;
  }
}

@media (max-width: $mobile-width) {
  header {
    padding-bottom: 76px;
    background-image: url("../img/head-mobail.jpg");
    background-repeat: no-repeat;
    background-position: center;
  }
}
