.header-content {
  display: flex;
  margin: 0 auto;
  margin-top: 229px;
  max-width: 1493px;
}

.header-content__text-block {
  position: relative;
  right: -90px;
}

.header-content__title-info {
  font-family: "PtMono", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 34px;
  margin-top: 20px;
  position: relative;
  margin-left: 98px;
  margin-bottom: 63px;
  width: 680px;

  &::before {
    content: "";
    position: absolute;
    width: 68px;
    height: 2px;
    left: -94px;
    z-index: 10;
    top: 20px;
    background-color: #ffffff;
  }
}

.header-content__main-title {
  width: 718px;
  margin-right: 71px;
}

.header-content__link {
  background: #00b2ff;
  padding: 17px 47px;
  margin-left: 97px;
  margin-top: 39px;
  border-radius: 5px;
  text-align: center;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.05em;
  text-transform: uppercase;

  &:hover {
    color: black;
  }
}

.header-content__scroll-link {
  font-family: "PtMono", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  position: absolute;
  transform: rotate(-90deg);
  bottom: 91px;
  left: -35px;
  opacity: 0.5;
}

.header-content__img {
  position: relative;
  bottom: 69px;
  right: -42px;
}

.header-content__img-block {
  width: 640px;
  z-index: 200;
  background: url("../../img/dable-polygon.svg");
  background-repeat: no-repeat;
}

.header-content__link-mobail {
  display: none;
}

@media (max-width: $tablet-width) {
  .header-content__main-title {
    width: 470px;
    font-size: 60px;
    line-height: 70px;
    margin-left: 20px;
  }

  .header-content__title-info {
    width: 356px;
    font-size: 18px;
    line-height: 156.8%;
    margin-left: 70px;
    margin-top: 27px;
    margin-bottom: 73px;

    &::before {
      width: 33px;
      left: -50px;
      top: 15px;
    }
  }

  .header-content__text-block {
    left: 69px;
  }

  .header-content__link {
    width: 379px;
    padding: 20px 32px 18px;
    margin-left: 70px;
    font-size: 16px;
  }

  .header-content__img {
    position: absolute;
    right: 0;
    width: auto;
    height: 334px;
    bottom: 237px;
  }

  .header-content__scroll-link {
    display: none;
  }

  .header-content {
    margin-top: 116px;
  }
}

@media (max-width: $mobile-width) {
  .header-content__main-title {
    font-size: 40px;
    line-height: 47px;
    width: 277px;
    z-index: 101;
    position: relative;
    margin-left: 14px;
    top: -12px;
  }

  .header-content__img-block {
    position: relative;
    z-index: 90;
  }

  .header-content__text-block {
    left: 0;
    margin-left: 0;
  }

  .header-content__title-info {
    font-size: 16px;
    line-height: 156.8%;
    width: 245px;
    margin-left: 65px;
    margin-top: 15px;
    margin-bottom: 43px;

    &::before {
      width: 33px;
      left: -50px;
      top: 15px;
    }
  }

  .header-content {
    flex-direction: column-reverse;
    margin: 0 auto;
    max-width: 320px;
  }

  .header-content__img {
    position: relative;
    width: 301px;
    height: 220px;
    bottom: -18px;
    left: 22px;
    z-index: 90;
  }

  .header-content__link {
    display: none;
  }


  .header-content__link-mobail {
    font-family: "Roboto Condensed", "Arial", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    display: block;
    background: #00b2ff;
    padding: 18px 32px;
    width: 223px;
    border-radius: 2px;
    margin-left: 19px;
    text-align: center;
  }
}
