header {
  position: relative;
  background-image: url("../img/back-head.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding-bottom: 51px;
  background-color: #000000;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/back-head@2x.jpg");
  }
}

@media (max-width: $tablet-width) {
  header {
    display: flex;
    flex-direction: column;
    padding-bottom: 188px;
  }
}

@media (max-width: $mobile-width) {
  header {
    display: flex;
    align-items: center;
    padding-bottom: 75px;
  }
}
