header {
  position: relative;
  background-image: url("../../img/head-desktop.jpg");
  background-repeat: no-repeat;
  background-position: center;
  padding-bottom: 39px;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../../img/head-desktop@2x.jpg");
  }
}

@media (max-width: $tablet-width) {
  header {
    display: flex;
    flex-direction: column;
    background-image: url("../../img/backheader-tablet.jpg");
    background-repeat: no-repeat;
    background-position: bottom;
    background-position-x: 2px;
    background-position-y: 1px;
    background-size: 100% 100%;
    padding-bottom: 181px;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../../img/backheader-tablet@2x.jpg");
    }
  }
}

@media (max-width: $mobile-width) {
  header {
    padding-bottom: 70px;
    background-image: url("../../img/head-mobail.jpg");
    background-repeat: no-repeat;
    background-position: center;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../../img/backhead-mobail@2x.jpg");
    }
  }
}
