.main-nav {
  display: flex;
  justify-content: space-between;
  padding-top: 38px;
  max-width: 1432px;
  width: 100%;
  margin: 0 auto;
  z-index: 10000;
}

.main-nav__title-block {
  display: flex;
  flex-direction: column;
  margin-left: 16px;
}

.main-nav__title {
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 29px;
  color: #ffffff;
}

.main-nav__title-info {
  font-family: "Roboto", "Arial", sans-serif;
  margin-top: 1px;
  font-size: 12px;
  line-height: 14px;
  color: #788891;
}

.main-nav__mail-link {
  padding-left: 40px;
  padding-right: 20px;
  margin-right: 60px;
  position: relative;
  background-image: url("../img/icon-mail.svg");
  background-repeat: no-repeat;
  background-position-y: 3px;

  &:hover {
    background-size: 24px;
  }
}

.main-nav__phone-link {
  padding-left: 40px;
  padding-right: 20px;
  position: relative;
  background-image: url("../img/icon-phone.svg");
  background-repeat: no-repeat;
  background-position-y: 2px;
  background-position-x: 4px;
  padding-bottom: 2px;

  &:hover {
    background-size: 17px;
    background-position-y: -1px;
  }
}

.main-nav__header-btn {
  font-family: "Roboto Condensed", "Arial", sans-serif;
  width: 181px;
  margin-left: 21px;
  background: none;
  color: #ffffff;
  border-radius: 5px;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 15px;
  padding-bottom: 15px;
  border: 2px solid white;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  cursor: pointer;
  margin-top: -10px;
  margin-right: 5px;

  &:hover {
    border: 2px solid $blue;
    color: $blue;
  }
}

.main-nav__contact-block {
  position: relative;
  top: 6px;
}

.main-nav__logo-container {
  display: flex;
  margin-left: 17px;
  cursor: pointer;
}

.main-nav__logo {
  margin-top: -4px;
}

@media (max-width: $tablet-width) {
  .main-nav__disabled {
    display: none;
  }

  .main-nav__title-info {
    font-family: "Roboto", "Arial", sans-serif;
    font-size: 12px;
    line-height: 14px;
    margin-top: 5px;
  }

  .main-nav__contact-block {
    display: flex;
    flex-direction: row;
    margin-right: 13px;
    top: 3px;
  }

  .main-nav__mail-link {
    margin-right: 0;
    margin-top: 7px;
    background-size: 25px, 18px;
  }

  .main-nav__phone-link {
    margin-top: 2px;
    background-size: 25px, 18px;
    transition: all 1s ease-in-out;
    background-position-x: 0;
    padding-bottom: 0;
  }

  .main-nav {
    margin-left: 25px;
    padding-top: 24px;
    margin-right: 10px;
    justify-content: space-between;
  }

  .main-nav__header-btn {
    display: none;
  }

  .main-nav__logo-container {
    margin-left: 0;
  }
}

@media (max-width: $mobile-width) {
  .main-nav__title {
    display: none;
  }

  .main-nav__title-info {
    display: none;
  }

  .main-nav {
    padding-top: 0;
    margin-bottom: 37px;
    justify-content: space-between;
    margin-left: -17px;
  }

  .main-nav__logo {
    width: 38px;
    height: 38px;
    position: relative;
    left: 34px;
    top: 19px;
  }

  .main-nav__mail-link {
    margin-top: 18px;
    margin-right: -11px;
    padding-bottom: 25px;
  }

  .main-nav__phone-link {
    margin-top: 18px;
  }

  .main-nav__contact-block {
    margin-right: -32px;
  }
}
