.main-nav {
  display: flex;
  justify-content: space-around;
  padding-top: 23px;
  margin-right: 0;
  max-width: 1920px;
}

.main-nav__title-block {
  display: flex;
  flex-direction: column;
  margin-left: 16px;
}

.main-nav__title {
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 29px;
  color: #ffffff;
}

.main-nav__title-info {
  color: #788891;
}

.main-nav__mail-link {
  padding-left: 40px;
  padding-right: 20px;
  margin-right: 60px;
  position: relative;
  background-image: url("../../img/icon-mail.svg");
  background-repeat: no-repeat;
  background-position-x: (10px);
}

.main-nav__phone-link {
  padding-left: 40px;
  padding-right: 20px;
  position: relative;
  background-image: url("../../img/icon-phone.svg");
  background-repeat: no-repeat;
  background-position-x: (10px);
}

.main-nav__header-btn {
  font-family: "Roboto Condensed", "Arial", sans-serif;
  width: 181px;
  margin-top: -8px;
  margin-left: 28px;
  background: none;
  color: #ffffff;
  border-radius: 5px;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 15px;
  padding-bottom: 15px;
  border: 2px solid white;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

.main-nav__contact-block {
  position: relative;
  right: -57px;
  top: 6px;
}


.main-nav__logo-container {
  display: flex;
  margin-left: 50px;
}

@media (max-width: $tablet-width) {
  .main-nav__disabled {
    display: none;
  }

  .main-nav__contact-block {
    display: flex;
    flex-direction: row;
    margin-right: 28px;
  }

  .main-nav__mail-link {
    margin-right: 0;
    margin-top: 7px;
    background-size: 25px, 18px;
  }

  .main-nav__phone-link {
    margin-top: 2px;
    background-size: 25px, 18px;
  }

  .main-nav {
    margin-left: 25px;
    margin-right: 10px;
    justify-content: space-between;
  }

  .main-nav__header-btn {
    display: none;
  }

  .main-nav__logo-container {
    margin-left: 0;
  }
}

@media (max-width: $mobile-width) {
  .main-nav__title {
    display: none;
  }

  .main-nav__title-info {
    display: none;
  }

  .main-nav {
    padding-top: 0;
    margin-bottom: 37px;
    justify-content: space-between;
    margin-left: -17px;
  }

  .main-nav__logo {
    width: 38px;
    height: 38px;
    position: relative;
    left: 34px;
    top: 19px;
  }

  .main-nav__mail-link {
    margin-top: 18px;
    margin-right: -11px;
  }

  .main-nav__phone-link {
    margin-top: 18px;
  }

  .main-nav__contact-block {
    margin-right: 19px;
  }
}
