.information__title {
  font-size: 36px;
  line-height: 51px;
  color: #666666;
  margin-bottom: 17px;
  margin-left: 5px;
}

.information__text {
  font-family: "PtMono", "Arial", sans-serif;
  font-size: 16px;
  line-height: 22px;
  color: #666666;
  width: 100%;
  max-width: 984px;
  margin-left: 3px;

  &--two {
    margin-top: 20px;
    margin-bottom: 50px;
  }
}

.information {
  display: flex;
  margin: 0 auto 99px;
  max-width: 1200px;
}

.information__container {
  margin: 0 auto;
  position: relative;
  display: flex;

  &::before {
    content: "";
    position: absolute;
    width: 640px;
    height: 640px;
    left: -468px;
    top: -330px;
    transform: rotate(180deg);
    background: url("../img/back-big-polygon.svg");
    background-repeat: no-repeat;
  }
}

.information__link {
  font-weight: bold;
  width: 155px;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  border-radius: 5px;
  color: #00b2ff;
  border: 2px solid $blue;
  padding: 14px 48px;
  margin-left: 8px;

  &:hover {
    color: black;
    border: 2px solid black;
  }
}

.information__img {
  transform: rotate(-0deg);
  position: relative;
  left: -17px;
}

.information__text-block {
  padding-bottom: 20px;
  margin-left: -36px;
  z-index: 1;
}

.information__tablet {
  display: none;
}

@media (max-width: $tablet-width) {
  .information__text {
    width: 531px;
    margin-left: 0;

    &--two {
      margin-top: 20px;
      margin-bottom: 53px;
    }
  }

  .information__title {
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    margin-left: -2px;
    margin-top: -6px;
    line-height: 140.62%;
    margin-bottom: 25px;
  }

  .information__disabled {
    display: none;
  }

  .information__tablet {
    display: inline-block;
  }

  .information__container {
  }

  .information__img {
    width: 242px;
    height: 363px;
    left: -32px;
    top: -7px;
  }

  .information__link {
    padding: 14px 48px;
    margin-left: 1px;
  }

  .information {
    margin: 0 auto 67px;
  }

  .information__text-block {
    margin-left: -53px;
  }
}

@media (max-width: $mobile-width) {
  .information__img {
    display: none;
  }

  .information__text-block {
    margin-left: 17px;
  }

  .information__container {
    margin-left: 5px;
  }

  .information__title {
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 140.62%;
    margin-top: 11px;
    margin-left: -7px;
    margin-bottom: 20px;
  }

  .information__text {
    width: 294px;
    margin-left: -5px;

    &--two {
      margin-top: 39px;
      margin-bottom: 42px;
    }
  }

  .information__link {
    padding: 14px 51px;
    margin-left: -5px;
    text-transform: uppercase;
  }

  .information {
    max-width: 320px;
    margin: 0 auto 61px;
  }
}
