.advantages__container {
  margin: 0 auto;

  background: url("../../img/back-big-polygon.svg");
  background-repeat: no-repeat;
  background-position-y: 193px;
  background-position-x: 599px;
  padding-bottom: 78px;
}

.advantages__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 0;
  position: relative;
  z-index: 200;
  margin-top: 128px;
  margin-left: 374px;

  &::before {
    content: "";
    position: absolute;
    left: -174px;
    z-index: 10;
    top: -68px;
    width: 300px;
    height: 300px;
    background: url("../../img/back-polygon.svg");
    background-repeat: no-repeat;
  }

  &::after {
    content: "";
    position: absolute;
    right: -200px;
    transform: rotate(60deg);
    top: 363px;
    width: 300px;
    height: 300px;
    background: url("../../img/back-polygon.svg");
    background-repeat: no-repeat;
  }
}

.advantages__item {
  width: 511px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 2px solid #ebebeb;
  border-left: 2px solid $blue;
  list-style: none;
  margin-right: 30px;
  margin-bottom: 23px;
  padding-left: 55px;
  height: 300px;
  z-index: 100;
  background-color: #ffffff;
}

.advantages__title {
  font-size: 24px;
  line-height: 34px;
  color: $blue;
  margin-left: -10px;
  position: relative;
  top: -14px;

  &--bottom {
    margin-top: -25px;
  }
}

.advantages__text {
  font-family: "PtMono", "Arial", sans-serif;
  font-size: 16px;
  line-height: 22px;
  color: #666666;
  width: 483px;
  margin-left: -10px;

  &--bottom {
    margin-top: -1px;
  }
}

.advantages__item:hover .advantages__text {
  color: #ffffff;
}


.advantages__item:hover {
  background: $blue;
}

.advantages__item:hover .advantages__title {
  color: #ffffff;
}

.advantages__item-icon {
  fill: $blue;
  position: relative;
  top: -35px;
  right: 11px;

  &--bottom {
    top: -58px;
  }
}

.advantages__item:hover svg {
  fill: #ffffff;
}

@media (max-width: $tablet-width) {
  .advantages__item {
    width: 316px;
    height: 306px;
    padding-left: 25px;

    &--tablet {
      margin-right: 0;
    }
  }

  .advantages__list {
    position: relative;
    display: flex;
    justify-content: center;
    margin: 0;
    margin-top: 54px;

    &::before {
      display: none;
    }

    &::after {
      display: none;
    }
  }

  .advantages__text {
    width: 291px;
  }

  .advantages__item-icon {
    top: -16px;

    &--bottom {
      top: -42px;
    }
  }
}

@media (max-width: $mobile-width) {
  .advantages__item {
    width: 260px;
    height: 310px;
    padding-left: 25px;
    margin-left: 9px;
  }

  .advantages__text {
    width: 245px;
  }

  .advantages__list {
    flex-direction: column;
    justify-content: center;
    max-width: 320px;
  }

  .advantages__container {
    align-content: center;
  }
}
