.advantages__container {
  margin: 0 auto;
  position: relative;
  padding-bottom: 78px;
  max-width: 1229px;

  &::before {
    content: "";
    position: absolute;
    width: 692px;
    height: 730px;
    left: 235px;
    top: 33px;
    background-image: url("../img/backpolygon-advantages.svg");
    background-repeat: no-repeat;
    z-index: 50;
  }
}

.advantages__content-block {
  width: 100%;
  height: 100%;
  padding-top: 65px;
  padding-bottom: 22px;

  &--bottom {
    padding-top: 104px;
    padding-bottom: 107px;
  }

  &--bottom-right {
    padding-bottom: 88px;
    padding-top: 85px;
  }
}

.advantages__list {
  flex-wrap: wrap;
  padding: 0;
  position: relative;
  z-index: 200;
  margin: 105px auto 0;
  max-width: 1157px;
  margin-left: 3%;
  margin-right: 3%;
  display: flex;
  justify-content: space-between;

  &::before {
    content: "";
    position: absolute;
    left: -174px;
    z-index: 10;
    top: -68px;
    width: 300px;
    height: 300px;
    background: url("../img/back-polygon.svg");
    background-repeat: no-repeat;
  }

  &::after {
    content: "";
    position: absolute;
    transform: rotate(60deg);
    width: 300px;
    height: 300px;
    right: -347px;
    top: 339px;
    background: url("../img/back-polygon.svg");
    background-repeat: no-repeat;
  }
}

.advantages__item {
  width: 49%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 2px solid #ebebeb;
  border-left: 2px solid $blue;
  list-style: none;
  margin-bottom: 29px;
  z-index: 100;
  margin-right: -17px;
  background-color: #ffffff;
  cursor: pointer;

  &--margin {
    margin-right: 25px;
  }
}

.advantages__title {
  font-size: 24px;
  line-height: 34px;
  color: #00b2ff;
  margin-left: -12px;
  position: relative;
  top: -11px;
  margin-bottom: 7px;
  padding-left: 54px;

  &--bottom {
    margin-top: -34px;
  }

  &--right-bottom {
    margin-top: -19px;
    margin-left: -12px;
    margin-bottom: 6px;
  }
}

.advantages__text {
  font-family: "PtMono", "Arial", sans-serif;
  font-size: 16px;
  line-height: 22px;
  color: #666666;
  max-width: 483px;
  font-style: normal;
  font-weight: 400;
  margin-left: 45px;
  margin-right: 20px;

  &--bottom {
    margin-top: -1px;
  }

  &--right-tablet {
    padding-bottom: 40px;
  }
}

.advantages__item:hover .advantages__text {
  color: #ffffff;
}

.advantages__item:hover {
  background: $blue;
}

.advantages__item:hover .advantages__title {
  color: #ffffff;
}

.advantages__item-icon {
  fill: $blue;
  position: relative;
  top: -28px;
  right: -41px;

  &--heat {
    top: -62px;
  }

  &--sells {
    top: -47px;
  }
}

.advantages__item:hover svg {
  fill: #ffffff;
}

@media (max-width: 1800px) {
  .advantages__list {
    margin-left: 2%;
    }
  }

@media (max-width: $tablet-width) {
  .advantages__item {
    width: 316px;
    padding-left: 25px;
    margin: 0 30px 30px 0;

    &--tablet {
      margin-right: 0;
    }

    &--tablet-bottom {
      height: 233px;
    }
  }

  .advantages__container {
    padding-bottom: 29px;
  }

  .advantages__list {
    position: relative;
    display: flex;
    justify-content: center;
    margin: 48px 0 0 0;

    &::before {
      display: none;
    }

    &::after {
      display: none;
    }
  }

  .advantages__text {
    width: 100%;
    max-width: 291px;
    margin-left: 2px;
    margin-top: 1px;
    padding-left: 0;

    &--right-tablet {
      padding-bottom: 0;
    }
  }

  .advantages__content-block {
    padding-top: 40px;
    padding-bottom: 40px;

    &--bottom {
      padding-top: 61px;
    }

    &--bottom-right {
      padding-top: 43px;
    }

    &--top {
      padding-top: 19px;
      padding-bottom: 17px;
    }
  }

  .advantages__item-icon {
    top: -17px;
    right: -2px;

    &--heat {
      width: 36px;
      height: 31px;
      top: -40px;
      right: 0;
    }

    &--sells {
      width: 35px;
      height: 35px;
      top: -20px;
    }

    &--right-tablet {
      width: 32px;
      height: 32px;
      top: 0;
    }
  }

  .advantages__title {
    margin-left: 2px;
    position: relative;
    top: -14px;
    margin-bottom: -6px;
    padding-left: 0;

    &--right-tablet {
      margin-top: 24px;
      margin-bottom: -7px;
    }

    &--right-bottom {
      margin-top: 0;
      margin-bottom: -5px;
    }

    &--bottom {
      margin-top: -17px;
      margin-bottom: 0;
    }
  }
}

@media (max-width: $mobile-width) {
  .advantages__item {
    width: 260px;
    padding-left: 25px;
    margin-left: 14px;
    margin-bottom: 19px;
  }

  .advantages__title {
    font-size: 20px;
    top: 7px;
    margin-bottom: 17px;
    line-height: 140.62%;

    &--right-tablet {
      margin-top: 2px;
    }

    &--bottom {
      width: 243px;
      top: -3px;
      margin-bottom: 8px;
    }
  }

  .advantages__text {
    width: 249px;

    &--mobail {
      width: 265px;
    }
  }

  .advantages__list {
    flex-direction: column;
    justify-content: center;
    max-width: 320px;
    margin: 26px auto 0;
  }

  .advantages__container {
    align-content: center;
    padding-bottom: 31px;
  }

  .advantages__item-icon {
    top: -1px;

    &--sells {
      top: -2px;
    }

    &--heat {
      top: -22px;
    }
  }

  .advantages__content-block {
    padding-top: 27px;
    padding-bottom: 22px;

    &--top {
      padding-top: 27px;
      padding-bottom: 22px;
    }

    &--bottom {
      padding-top: 48px;
    }

    &--bottom-right {
      padding-top: 21px;
      padding-bottom: 23px;
    }
  }
}
