.popup-fade {
  display: none;
}

.popup-fade::before {
  content: "";
  background: #000000;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.7;
  z-index: 9999;
}

.popup {
  position: fixed;
  top: 16%;
  left: 49%;
  width: 448px;
  margin-left: -198px;
  background: $blue;
  border: 1px solid orange;
  border-radius: 4px;
  z-index: 99999;
  opacity: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding: 20px 9px 20px 30px;
}

.popup-close {
  position: relative;
  top: 10px;
  right: 0;

  &::before {
    content: "";
    position: absolute;
    width: 23px;
    height: 1px;
    transform: rotate(45deg);
    background-color: #ffffff;
    right: -216px;
    top: -4px;
  }

  &::after {
    content: "";
    position: absolute;
    right: -216px;
    top: -4px;
    width: 23px;
    height: 1px;
    transform: rotate(-45deg);
    background-color: #ffffff;
  }
}

.popup__block {
  max-width: 412px;
  width: 100%;
}

.popup__input {
  font-family: "PtMono", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  background-color: #60c4ff;
  border: none;
  padding-top: 15px;
  padding-bottom: 15px;
  width: 388px;
  padding-left: 25px;
  margin-bottom: 30px;
}

.popup__textarea {
  font-family: "PtMono", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  background-color: #60c4ff;
  border: none;
  padding-top: 14px;
  height: 88px;
  width: 387px;
  padding-left: 25px;
  color: #ffffff;
  overflow: hidden;
}

.popup__submit {
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  border: 2px solid #ffffff;
  background-color: #00b2ff;
  border-radius: 5px;
  padding: 15px 25px;
  width: 409px;
  color: #ffffff;
  margin-top: 24px;
  margin-right: 24px;
  cursor: pointer;
}

.popup__check-block {
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: baseline;
  margin-left: -71px;
  margin-top: 15px;
}

.popup__info {
  width: 382px;
  text-align: left;
  margin-right: 53px;
  font-family: "PtMono", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  margin-top: 10px;
  margin-bottom: 32px;
}

.popup__title {
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  line-height: 140.62%;
  margin-right: 234px;
  margin-top: 10px;
}

.popup__checkbox-text {
  width: 317px;
  font-family: "PtMono", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;

  color: #ffffff;

  opacity: 0.8;

  margin-left: 13px;
  margin-top: -6px;
}

.popup__checkbox {
  display: none;
}

.popup__label {
  cursor: default;
  font-weight: normal;
  line-height: 30px;
  padding: 10px 0;
  margin-bottom: 20px;
  vertical-align: middle;
}

.popup__label::before {
  content: "";
  display: inline-block;
  margin-right: 15px;
  position: relative;
  text-align: center;
  width: 16px;
  height: 16px;
  border: 1px solid #e3e3e3;
  border-image: initial;
  vertical-align: middle;
}

.popup__checkbox:checked + .popup__label::before {
  content: "";
  height: 16px;
  width: 16px;
  background: url("../img/chek1.svg");
  background-repeat: no-repeat;
  background-size: 8px 5px;
  background-position: center;
}

body.popup {
  overflow: hidden;
}

@media (max-width: $tablet-width) {
  .popup {
    display: none;
  }
}
